[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
gcp-functions-emulator = "*"

[packages]
google-cloud = "*"
beatmachine = {git="https://github.com/dhsavell/beat-machine", tag="v2.0.0"}  # PyPI release seems to be missing modules...

[requires]
python_version = "3.7"
